**Lab | Hypothesis Testing**

**Instructions**
It is assumed that the mean systolic blood pressure is μ = 120 mm Hg. In the Honolulu Heart Study, a sample of n = 100 people had an average systolic blood pressure of 130.1 mm Hg with a standard deviation of 21.21 mm Hg. Is the group significantly different (with respect to systolic blood pressure!) from the regular population?

**Set up the hypothesis test.**
- Write down all the steps followed for setting up the test.
- Calculate the test statistic by hand and also code it in Python. It should be 4.76190. What decision can you make based on this calculated value?

In [1]:
import numpy as np
import pandas as pd
import scipy.stats as stats
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [2]:
#population: μ = 120 mm Hg / 
#sample: x = 130.1 mm Hg / o = 21.21 mm Hg / n = 100 / 

#Ho: mu = 120
#Hi: mu != 120

#2 tailed 

mean_pop = 120
mean_sample = 130.1
std_sample = 21.21
sample = 100

In [3]:
#we choose t test, because despite having a n>30, we don't have the std of the population.
t = (mean_sample - mean_pop) / (std_sample / np.sqrt(sample))

In [4]:
t

4.761904761904759

In [5]:
#95% confindece level. 
tc = stats.t.ppf(0.975,df=sample)

In [6]:
tc

1.9839715184496334

In [7]:
if t > tc:
    print("We reject the Ho, we can say that the group is significantly different from the regular popoulation with a 95% confindence level.")
else:
    print("We reject the Ho, the group is not different from the regular population with a 95% confindence level ")

We reject the Ho, we can say that the group is significantly different from the regular popoulation with a 95% confindence level.

In [8]:
#Would I be able to create a function of this process?

**Optional**

In a packing plant, a machine packs cartons with jars. It is supposed that a new machine will pack faster on the average than the machine currently used. To test that hypothesis, the times it takes each machine to pack ten cartons are recorded. The results, in seconds, are shown in the tables in the file Data/machine.txt. Assume that there is sufficient evidence to conduct the t test, does the data provide sufficient evidence to show if one machine is better than the other.

Hint: use two sample t-test

t= (sample_mean(x1) - sample_mean(x2)) / sqrt(square(s1)/n1 + square(s2)/n2 )

In [5]:
import pandas as pd
df=pd.read_csv('Data/Data_Machine.txt',delimiter = "\t")
df.columns = ['new_machine','old_machine']
df

   new_machine  old_machine
0         42.1         42.7
1         41.0         43.6
2         41.3         43.8
3         41.8         43.3
4         42.4         42.5
5         42.8         43.5
6         43.2         43.1
7         42.3         41.7
8         41.8         44.0
9         42.7         44.1

In [6]:
#After cleaning the data, we'll do the next calculus.
#New machine better than older?


#Old Machine
# mu_old= 43.230000000000004
# std_old = 0.7498888806572157
# n = 10

#New Machine
# mu_new = 42.14
# std_new = 0.6834552736727638
# n = 10

In [12]:
#old machine
mu_old = df['old_machine'].mean()
var_old = df['old_machine'].var()

In [13]:
#New Machine
mu_new = df['new_machine'].mean()
var_new = df['new_machine'].var()

In [14]:
print(mu_old," ",var_old)
print(mu_new," ", var_old)

43.230000000000004   0.5623333333333319
42.14   0.5623333333333319

In [ ]:
# Ho: mu_new != mu_old
# Hi: mu_new > mu_old